@charset "UTF-8";

*, html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

/* スムーズスクロール */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* スクロールの背景の設定 */
html::-webkit-scrollbar-track {
    background: white;
}

/* スクロールのつまみ部分の設定 */
html::-webkit-scrollbar-thumb {
    background: #2C92C5;
    /* background: linear-gradient(white, 5%, #2C92C5, 95%, white); */
}

/* テキスト選択時のスタイル変更 */
::selection {
    color: white;
    background: #2C92C5;
}

/* Firefox */
::-moz-selection {
    color: white;
    background: #2C92C5;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}
  
a {
    display: block;
    color: initial;
    text-decoration: none;
}

/************************* 共通セレクタ **************************/
.error-area {
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
    line-height: 150%;
    font-size: 14px;
    text-align: center;
    color: #f00;
}

.modal-title {
    display: inline-block;
    width: auto;
    height: 30px;
    /* margin: 20px auto 0; */
    margin: 0 auto 20px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.modal-title__span {
    font-size: 26px;
    color: #2C92C5;
}

.modal-hide-btn:hover {
    color: #fff;
    background: #E81123;
}

.not-login-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-require-item { color: red; }

/************************* ローディングエリア **************************/
.loading-area {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: radial-gradient(#fff, #888);
}

.loading-area--inactive {
    display: none;
}

.loading-area__main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.loading-area__img-div {
    width: auto;
    height: 100px;
    margin: 0 auto 15px;
}

.loading-area__progress-bar {
    width: 100%;
    height: auto;
    line-height: 200%;
    font-size: 18px;
    color: black;
    text-align: center;
}

.loading-area__desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding: 0 20px;
    box-shadow: 0 -3px 3px;
    background: black;
    opacity: .6;
}

.loading-area__desc__title {
    position: relative;
    width: 100%;
    height: 50px;
}

.loading-area__desc__title__text {
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #2C92C5;
}

.loading-area__desc__mouse {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    height: 28px;
}

.loading-area__desc__click {
    width: auto;
    height: 100%;
}

.loading-area__desc__page {
    display: inline-block;
    position: relative;
    top: 2px;
    width: auto;
    height: 28px;
    padding: 1px 7px 0;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: white;
}

.loading-area__desc__cont {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: white;
}

/************************* canvasエリア **************************/
#displayArea {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
  
#renderingArea {
    /* background: radial-gradient(#fff, #888); */
    /* background: linear-gradient(#fff, #888); */
    /* background: linear-gradient(#e66465, #9198e5); */
    /* background: linear-gradient(#fff, #5FA2E3); */
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    /* background: radial-gradient(#fff, #2C92C5); */
    background: radial-gradient(#fff, #888);
    /* background: -webkit-radial-gradient(#fff, #888); */
    /* background: -moz-radial-gradient(#fff, #888); */
    /* background: -ms-radial-gradient(#fff, #888); */
}

.product-price-tag-area {
    display: none;
    position: absolute;
    width: auto;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 0 5px;
    background: white;
    white-space: pre;
}

.product-price-tag-area::selection {
    color: black;
    background: #fff;
}

.product-price-tag-area::-moz-selection {
    color: black;
    background: #fff;
}


.view-message-area {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: 30px;
    padding: 0 4px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
    box-shadow: 0 0 5px;
    background: #2C92C5;
}

/************************* overlayエリア **************************/
.header-overlay-area { display: none; }

.header-overlay-area--active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.store-overlay { display: none; }

.store-overlay--active {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

/************************* ロゴエリア **************************/
.logo-area {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100px;
    min-width: 100px;
    height: 90px;
    background: #2C92C5;
    cursor: pointer;
}

.logo-area__logo {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    width: 90px;
    height: 100%;
}

/************************* ヘッダーエリア **************************/
.header-area {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 75;
    width: 100px;
    height: auto;
    cursor: pointer;
}

/************* ハンバーガーメニュー ***************/
.header-area__hamburger-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(#c0c0c0, 2%, #222);
}

.header-area__hamburger-menu span {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 25px;
    height: 2.5px;
    background: white;
    border-radius: 4px;
}

.header-area__hamburger-menu span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-area__hamburger-menu span:nth-of-type(3) { top: calc(30px - 2.5px); }

/************* グローバルナビゲーション ***************/
.header-area__gnav-list {
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 13px;
    text-align: center;
    list-style-type: none;
    background: #222;
    opacity: .8;
    cursor: pointer;
    overflow-y: hidden;
}

.header-area__gnav-list__item {
    position: relative;
    width: 100%;
    height: 40px;
}

.header-area__gnav-list__item--active {
    background: black;
    opacity: 1;
}

.header-area__gnav-list__item a, .header-close-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
}

.frame {
    display: none;
    position: absolute;
    width: 7px;
    height: 7px;
}

.topleft-frame--active {
    display: block;
    left: 0;
    top: 0;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
}

.topright-frame--active {
    display: block;
    top: 0;
    right: 0;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

.bottomleft-frame--active {
    display: block;
    left: 0;
    bottom: 0;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.bottomright-frame--active {
    display: block;
    right: 0;
    bottom: 0;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/************************* 店舗検索エリア **************************/
.store-search-area {
    box-sizing: content-box;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 0 0 0 3px;
    color: white;
    /* background: rgba(0, 0, 0, .7); */
}

.store-search-area--inactive {
    display: none;
}

.store-search-area__title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: 150%;
    font-size: 14px;
    text-align: center;
}

.store-search-area__list {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.store-search-area__item {
    display: inline-block;
    position: relative;
    width: 115px;
    height: 40px;
    border-radius: 3px;
    margin-right: 25px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.store-search-area__item:last-of-type { margin: 0; }

.store-search-area__item__content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 113px;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
    color: black;
    overflow-y: hidden;
}

.store-search-area__item__content-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    cursor: default;
}

.store-search-area__item__content-item:last-of-type {
    background: white;
    cursor: pointer;
}

.store-search-area__item__title {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* background: linear-gradient(#c0c0c0, 10%, #222, 95%, #c0c0c0); */
    background: linear-gradient(#c0c0c0, 10%, #222);
}

.store-search-area__item__text {
    display: inline-block;
    width: calc(100% - 35px);
    height: 100%;
    padding: 0 10px;
}

.store-search-area__item__plus-btn {
    display: inline-block;
    width: 35px;
    height: 100%;
}

/************************* 店舗画面 **************************/
.store-area {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drag-drop-box {
    display: none;
}

.drag-drop-box--active {
    display: block;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
    width: 90px;
    height: 90px;
    color: white;
    background: #c0c0c0;
}

.drag-drop-box__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
}

.exit-store-btn {
    display: none;
}

.exit-store-btn--active {
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50%);
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: auto;
    min-height: 100px;
    line-height: 50px;
    font-size: 15px;
    color: white;
    text-align: center;
    background: linear-gradient(#c0c0c0, 2%, #e00, 99%, #c0c0c0);
    cursor: pointer;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
}

.selected-quantity-modal {
    display: none;
}

.selected-quantity-modal--active {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    width: 400px;
    height: auto;
    border-radius: 3px;
    padding: 25px;
    color: white;
    background: linear-gradient(#c0c0c0, 5%, #333);
}

.selected-quantity-modal__form {
    width: 100%;
    height: 100%;
}

.selected-quantity-modal__title {
    width: 100%;
    height: 30px;
    margin-bottom: 14px;
    line-height: 30px;
    font-size: 14px;
}

.selected-quantity-modal__content {
    width: 100%;
    height: 30px;
    text-align: right;
}

.selected-quantity-modal__select {
    display: inline-block;
    position: relative;
    width: auto;
    min-width: 50px;
    height: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

.selected-quantity-modal__text {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.selected-quantity-modal__cartbtn {
    width: 100px;
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

.selected-quantity-modal__hidebtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    opacity: .8;
}

.selected-quantity-modal__hidebtn:hover { opacity: 1; }

/************************* ログインエリア **************************/
.login-area {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    opacity: .7;
}

.login-area--inactive {
    display: none;
}

/************************* ログインエリア(ログイン済み) **************************/
.login-area__logined {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: white;
}

.login-area__logined__text {
    display: inline-block;
    width: auto;
    height: auto;
    background: black;
    cursor: pointer;
}

/************************* ログインエリア(未ログイン) **************************/
.login-area__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    padding: 30px;
    text-align: center;
    caret-color: #2C92C5; /* 入力カーソル */
    background: black;
    /* opacity: .7; */
}

.login-area__item {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 0 auto 15px;
    text-align: start;
}

.login-area__item:last-of-type { margin: 0 auto 20px; }

.login-area__input {
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #fff;
    padding-left: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

/* 入力があればスタイル変更 */
.login-area__input:focus, .login-area__input:not(:placeholder-shown) {
    padding: 10px 0 0 5px;
    outline: none;
    border: 2px solid #2C92C5;
}

.login-area__label {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #aaa;
}

/* 子要素に当たっている時に有効 */
.login-area__item:focus-within .login-area__label, .login-area__input:not(:placeholder-shown) + .login-area__label {
    position: absolute;
    left: 5px;
    top: 10px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    color: #2C92C5;
}

.login-area__other-link {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 auto 20px;
    line-height: 150%;
    font-size: 13px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

.login-area__other-link:last-of-type { margin: 0 auto 0; }

.login-area__other-link:hover { color: #fff; }

.login-area__submit-btn {
    display: block;
    width: 136px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 0 auto 20px;
    color: #253d56;
    background: #fff;
}

.login-area__submit-btn:hover {
    color: #fff;
    background: #2C92C5;
}

/******************************** 新規ユーザ登録エリア ******************************/
.signup-area {
    display: none;
    overflow-y: auto;
}

.signup-area--active {
    display: block;
}

/************************* お問い合わせ + フッターエリア **************************/
.contact-footer-area {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

/************************* お問い合わせエリア **************************/
.contact-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100% - 100px);
    background: black;
    opacity: .75;
}

.contact-area__not-logged-in {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    line-height: 150%;
    font-size: 15px;
}

.contact-area__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    padding: 30px;
}

.contact-title {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.contact-area__tr {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.contact-area__th {
    display: inline-block;
    width: 130px;
    height: auto;
    line-height: 150%;
    text-align: center;
}

.contact-area__td {
    width: calc(100% - 130px);
}

.contact-area__select {
    display: inline-block;
    width: auto;
    height: 25px;
    text-align: center;
    color: white;
    background: black;
}

.contact-area__select option {
    color: black;
    background: white;
    opacity: .7;
}

.contact-area__label {
    display: inline-block;
    width: auto;
    height: 25px;
    padding-right: 10px;
    line-height: 25px;
    cursor: pointer;
}

.contact-area__input {
    position: relative;
    top: 2px;
    width: auto;
    height: auto;
}

.contact-area__th-last {
    position: relative;
    top: -45px;
}

.contact-area__textarea {
    resize: none;
    position: relative;
    top: 10px;
    width: 85%;
    color: white;
    background: black;
    opacity: 1;
}

.contact-area__submit-btn { margin: 25px auto 0; }

/************************* フッターエリア **************************/
.footer-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: black;
    opacity: .8;
}

.footer-area__text {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    line-height: 150%;
    font-size: 14px;
}

/************************* カートエリア **************************/
.cart-area { display: none; }

.cart-area--active {
    display: flex;
    position: relative;
    left: 100px;
    top: 0;
    z-index: 3;
    width: calc(100% - 100px);
    height: 100px;
    color: white;
    background: linear-gradient(#c0c0c0, 1%, #222);
    opacity: .9;
}

.cart-area__list {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.cart-area__list::-webkit-scrollbar { height: 7px; }

.cart-area__list::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2C92C5), to(#2C92C5));
    background: linear-gradient(to bottom, #2C92C5 50%, #2C92C5);
}

.cart-area__list::-webkit-scrollbar-track { background: #dcdcdc; }

.cart-area__item {
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 100%;
    margin-right: 3px;
}

.cart-area__img-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 94px;
    margin-bottom: 3px;
}

.cart-area__select {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 20px;
    border-radius: 3px;
}

.cart-area__product-name {
    display: inline-block;
    width: 120px;
    height: auto;
    margin-bottom: 3px;
    line-height: 130%;
    font-size: 14px;
    text-align: center;
}

.cart-area__price-delete {
    display: inline-block;
    width: 100%;
    height: 15px;
    text-align: center;
}

.cart-area__product-price {
    display: inline-block;
    width: auto;
    height: 15px;
    padding-right: 10px;
    border-right: 2px solid white;
    line-height: 15px;
    font-size: 13px;
}

.cart-area__delete-btn {
    display: inline-block;
    width: auto;
    height: 15px;
    padding-left: 10px;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    /* color: #0000EE; */
    color: white;
    cursor: pointer;
}

.cart-area__delete-btn:hover { text-decoration: underline; }

/************************* カートエリア(その他) **************************/
.cart-area__item-empty {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 130px);
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}

.cart-area__not-list {
    width: 120px;
    min-width: 120px;
    height: 100%;
    padding: 0 5px;
    box-shadow: -4px 0 3px -3px white; /* 一定方向だけ影を出す */
    text-align: center;
    overflow-y: hidden;
}

.cart-area__not-list__item1 {
    width: 100%;
    height: 42px;
    margin: 4px 0 8px;
    font-size: 14px;
}

.cart-area__not-list__item2 {
    width: 100%;
    height: 42px;
    margin: 0 0 14px;
    font-size: 14px;
}

.cart-area__not-list__text {
    width: 100%;
    height: 21px;
    padding-left: 3px;
    line-height: 21px;
    text-align: left;
}

.cart-area__not-list__text:last-of-type {
    padding: 0;
    text-align: center;
}

.cart-area__reset-btn {
    width: 100%;
    height: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.cart-area__regi-btn {
    width: 100%;
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    line-height: 80px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

/************************* カメラ操作ボタンエリア **************************/
.cambtn-area { display: none; }

.cambtn-area--active {
    display: flex;
    position: relative;
    left: 100px;
    z-index: 2;
    width: calc(100% - 100px);
    height: 30px;
    font-size: 13px;
    color: white;
    text-align: center;
    background: black;
    opacity: .9;
    overflow-x: auto;
    overflow-y: hidden;
}

.cambtn-area--active::-webkit-scrollbar { height: 6px; }

.cambtn-area--active::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2C92C5), to(#2C92C5));
    background: linear-gradient(to bottom, #2C92C5 50%, #2C92C5);
}

.cambtn-area--active::-webkit-scrollbar-track { background: #dcdcdc; }

.cambtn-area__btn {
    width: 98px;
    min-width: 98px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.cambtn-area__btn__arrow {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
}

/******************************* 商品詳細モーダル ********************************/
.product-modal { display: none; }

.product-modal--active {
    display: block;
    position: absolute;
    top: 130px;
    right: -310px;
    z-index: 2;
    width: 310px;
    height: calc(100% - 130px);
    font-size: 14px;
    text-align: center;
    color: white;
    background: linear-gradient(#c0c0c0, 1%, #111);
    overflow-y: auto;
    opacity: .9;
}

.product-modal::-webkit-scrollbar { width: 7px; }

.product-modal::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2C92C5), to(#2C92C5));
    background: linear-gradient(to bottom, #2C92C5 50%, #2C92C5);
}

.product-modal::-webkit-scrollbar-track { background: #dcdcdc; }

/************* モーダルナビゲーション ***************/
.product-modal__nav-area {
    display: flex;
    width: 100%;
    height: 30px;
    color: white;
}

.product-modal__switch-btn {
    width: 140px;
    height: 30px;
    border-bottom: 1px solid #9AA0A6;
    line-height: 30px;
    cursor: pointer;
}

.product-modal__hide-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.product-modal__hide-btn:hover {
    color: #fff;
    background: #E81123;
}

/************* モーダルコンテンツ ***************/
.product-modal__content {
    position: relative;
    width: 250px;
    height: auto;
    margin: 15px auto 30px;
}

.product-modal__img-div {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-modal__img {
    display: block;
    width: 100%;
    height: auto;
}

.product-modal__title {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 20px;
}

.product-modal__price-quantity {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }

.product-modal__price-quantity-p {
    display: inline-block;
    width: auto;
    height: auto;
    white-space: pre;
}

.product-modal__desc {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    line-height: 150%;
  }

.product-modal__btn-area {
    width: 100%;
    height: 30px;
    text-align: center;
}

.product-modal__label {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
}

.product-modal__select {
    display: inline-block;
    width: 40px;
    height: 30px;
    border-radius: 3px;
}

.addto-cart-btn {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 0 8px;
    border-radius: 2px;
    line-height: 30px;
    color: white;
    background: linear-gradient(#c0c0c0, 1%, #2C92C5);
    cursor: pointer;
}

/******************************* 掲示板モーダル ********************************/
.product-modal__forum-formimg-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/************* 投稿エリア ***************/
.product-modal__forum-form-div {
    width: 100%;
    height: auto;
    padding: 10px 5px 20px;
    border-bottom: 1px solid #9AA0A6;
    font-size: 13px;
}

.product-modal__forum-form-title {
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
}

.product-modal__forum-textarea {
    font-family: "メイリオ", sans-serif;
    resize: none;
    outline: none;
    width: 100%;
    height: 80px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 15px 0;
    font-size: 13px;
    color: white;
    background: #222;
    cursor: pointer;
    -webkit-appearance: none;
}

.product-modal__forum-postbtn {
    display: inline-block;
    width: auto;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    line-height: 30px;
    color: white;
    background: linear-gradient(#c0c0c0, 1%, #2C92C5);;
    cursor: pointer;
}

/************* 閲覧エリア ***************/
.product-modal__forum-maintitle {
    width: 100%;
    height: 20px;
    margin: 20px auto 15px;
    line-height: 20px;
    font-size: 16px;
}

.product-modal__forum-ul {
    width: 100%;
    height: auto;
}

.product-modal__forum-li {
    width: 100%;
    height: auto;
    border-bottom: 1px dotted #9AA0A6;
    padding: 10px 0 5px;
}

.product-modal__forum-li:last-child {
    border-bottom: none;
}

.product-modal__forum-li__content {
    width: 100%;
    margin-bottom: 7px;
    line-height: 150%;
    text-align: left;
}

.product-modal__forum-li__not-content {
    width: 100%;
    height: 20px;
    text-align: right;
}

.product-modal__forum-li__inlineblock {
    display: inline-block;
    width: auto;
    height: 20px;
    margin-right: 15px;
    line-height: 20px;
    font-size: 13px;
    color: white;
}

.product-modal__forum-li__inlineblock:last-child { margin-right: 0; }

.product-modal__forum-li__flexbox {
    display: flex;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.product-modal__forum-goodimg-div {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.product-modal__forum-goodcnt {
    display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    color: #9AA0A6;
}

.product-modal__forum-empty {
    display: inline-block;
    width: auto;
    line-height: 150%;
    text-align: left;
    white-space: pre;
}

/******************************* 掲示板モーダル ********************************/
.order-area {
    display: none;
}

.order-area--active {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, .65);
}

.order-area__view-order-btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 50px;
    padding: 0 10px;
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    color: black;
    background: white;
    cursor: pointer;
}

.order-area__view-order-btn--inactive {
    display: none;
}

.order-area__view-order-btn:hover {
    color: #fff;
    background: #2C92C5;
}

.order-area__order-details {
    display: none;
}

.order-area__order-details--active {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 80%;
    color: black;
    background: white;
}

.order-area__cart {
    width: 400px;
    min-width: 400px;
    height: 100%;
    border-right: 1px solid black;
    overflow-y: auto;
}

.order-area__cart__item {
    display: flex;
    width: auto;
    height: 100px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.order-area__cart__item__left {
    width: auto;
    height: 100%;
}

.order-area__cart__item__img-div {
    display: inline-block;
    width: auto;
    height: 100%;
}

.order-area__cart__item__right {
    width: auto;
    height: 100%;
}

.order-area__cart__item__name {
    width: 100%;
    height: auto;
    line-height: 150%;
    font-size: 14px;
}

.order-area__cart__item__price {
    width: 100%;
    height: auto;
    line-height: 150%;
    font-size: 13px;
}

.order-area__cart__item__select {
    width: 53px;
    height: 20px;
    border-radius: 3px;
}

.order-area__details {
    width: 400px;
    min-width: 400px;
    height: 100%;
}

.order-area__details__item {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
    border-bottom: 1px solid black;
}

.order-area__details__item__title {
    width: auto;
    height: auto;
    line-height: 150%;
    font-size: 15px;
}

.order-area__details__item__title span {
    display: inline-block;
    width: auto;
    padding-left: 20px;
    font-size: 13px;
}

.order-area__details__item__title a {
    display: inline-block;
    width: auto;
}

.order-area__details__item__title a:hover {
    text-decoration: underline;
}

.order-area__details__item__content {
    position: relative;
    width: 300px;
    height: 40px;
    overflow: hidden;
}

.order-area__details__item__content__items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.order-area__details__item__content__item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.order-area__details__item__content__title {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: white;
    background: #2C92C5;
    cursor: pointer;
}

.order-area__details__item input {
    display: inline-block;
    position: relative;
    top: 1px;
    width: auto;
    height: auto;
}